//*************************
//* File: _aboutme.scss   *
//* Author: Eduardo Alveo *
//*************************

@use 'variables';

.about {
  &__picture {
    border-radius: 20px;
    width: 100%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1em 0;
  }
}

.aboutMe {
  font-size: 0.875rem;
  padding: 4em 0;
}