//*************************
//* File: _cards.scss     *
//* Author: Eduardo Alveo *
//*************************

@use 'variables';

.card{
  border: 1px solid variables.$CARD_TEXT_COLOR;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: variables.$CARD_TEXT_COLOR;
  display: grid;
  gap: 1em;
  grid-template-areas: "picture picture"
                       "title   title"
                       "article article"
                       "linkA   linkB";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;

  &--hide {
    visibility: hidden;
  }

  &__article {
    grid-area: article;
    padding: 1em 0.5em;
  }
  
  &__link {
    display: block;
    padding: 0.5em 0.5em;
    text-align: center;
  }

  &__linkA {
    grid-area: linkA;
  }

  &__linkB {
    grid-area: linkB;
  }

  &__picture {
    border-bottom: 1px solid variables.$CARD_TEXT_COLOR;
    height: 199px;
  }
  &__picture-box {
    grid-area: picture;
  }

  &__title{
    font-size: 1.25rem;
    font-weight: 600;
    grid-area: title;
    text-align: center;
  }

  &__links {
    border-bottom: 1px dashed variables.$CARD_BUTTON_TEXT_COLOR;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      border-bottom-color: variables.$CARD_BUTTON_TEXT_COLOR_HOVER;
      color: variables.$CARD_BUTTON_TEXT_COLOR_HOVER;
    }
  }
}

.project {
  font-size: 0.875rem;
  padding-bottom: 1em;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.6em 0;
  }
}