//*************************
//* File: _footer.scss    *
//* Author: Eduardo Alveo *
//*************************

@use 'variables';

.footer {
  background-color: variables.$FOOTER_BACKGROUND;
  color: variables.$FOOTER_TEXT_COLOR;
  font-size: 0.875rem;

  &__copy {
    font-size: 0.875rem;
    padding: 0.5em 0;
  }
}

.networks {
  &__links {
    display: block;
    font-weight: 600;
    padding: 1em 1em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}