//*************************
//* File: _globals.scss   *
//* Author: Eduardo Alveo *
//*************************

body {
  font-family: "Liberation Sans", "Noto Sans", "System-UI", sans-serif;
  letter-spacing: 1px;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  width: 90%;

  &--about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  &--cards{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  }

  &--footer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }

  &--networks {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    padding: 0.5em 0 0.5em  0;
  }
}

img {
  width: 100%;
}