//*************************
//* File: _header.scss    *
//* Author: Eduardo Alveo *
//*************************

@use 'variables';

.header {
  background-color: variables.$HEADER_BACKGROUND;
  color: variables.$HEADER_TEXT_COLOR;

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.nav {
  display: none;
  visibility: hidden;
}