//*************************
//* File: _menu.scss      *
//* Author: Eduardo Alveo *
//*************************

@use 'variables';

.menu {
  border-top: 2px solid variables.$NAVBAR_BACKGROUND;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;

  &__items {
    list-style-type: none;
    text-transform: uppercase;
  }

  &__links {
    display: block;
    padding: 0.5em 0;
    width: 100%;
  }
}