//**************************
//* File: _responsive.scss *
//* Author: Eduardo Alveo  *
//**************************

/*@media (min-width: 769px) {
  .container {
    &--about {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1em;
    }

    &--footer {
      justify-content: space-between;
    }

    &--header {
      align-items: stretch;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

  }

  .menu {
    flex-direction: row;
  }
}*/

@media (min-width: 500px) {
  .about {
    &__title {
      font-size: 1.5625rem;
    }
  }
  .container {
    &--about {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1em;
    }
  }
}

@media (min-width: 900px) {
  .about {
    &__title {
      font-size: 3.125rem;
    }
  }

  .container {
    &--about {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 4em;
    }
  }
}

@media (min-width: 1300px) {
  .container {
    width: 80%;
    &--about {
      gap: 12em;
    }
  }
}